* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 0.73333333333;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  height: 89px;
  width: 100%;
  padding-left: calc(0px + 164.28 * ((100vw - 1248.44px) / 328.56));
  padding-right: calc(0px + 164.28 * ((100vw - 1248.44px) / 328.56));
  top: 8.57143%;
  z-index: 50;
}

.burger {
  display: none;
}

.nav {
  height: 100%;
  width: 100%;
  background-color: #313030;
  padding-left: calc(150px + 208 * ((100vw - 768px) / 809));
  padding-right: calc(0px + 420 * ((100vw - 768px) / 809));
}

.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  padding: 0 24px;
  text-align: center;
}

.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 1px;
  height: 100%;
}

.current {
  background-color: #ff3f40;
}

.title {
  text-transform: uppercase;
  color: #333333;
  font-size: calc(34px + 8 * ((100vw - 320px) / 1257));
  font-weight: 700;
  margin-top: 0;
  line-height: normal;
}

.banner {
  padding-top: calc(150px + 78 * ((100vw - 768px) / 809));
  padding-bottom: calc(50px + 73 * ((100vw - 768px) / 809));
  padding-left: calc(50px + 114.28 * ((100vw - 768px) / 809));
  padding-right: calc(50px + 114.28 * ((100vw - 768px) / 809));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f6f2f2;
}

.banner__title {
  color: black;
  font-size: calc(38px + 22 * ((100vw - 320px) / 1257));
  font-weight: 900;
  margin-bottom: 4.30416%;
}

.banner__video {
  width: 100%;
}

.banner__text {
  color: #494848;
}

.banner .text__container {
  padding-right: 8.9712%;
  -ms-flex-preferred-size: 55.94502%;
      flex-basis: 55.94502%;
}

.banner__button {
  text-decoration: none;
  display: inline-block;
}

.banner .button {
  text-transform: capitalize;
}

.video__container {
  -ms-flex-preferred-size: 44.05498%;
      flex-basis: 44.05498%;
  min-width: 400px;
}

.text {
  color: black;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1257));
  line-height: 2;
  margin-top: 0;
}

.button {
  color: white;
  background-color: #ff2d2d;
  text-transform: uppercase;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1257));
  border-radius: 5px;
  padding-top: calc(16px + 2 * ((100vw - 320px) / 1257));
  padding-bottom: calc(16px + 2 * ((100vw - 320px) / 1257));
  padding-left: calc(50px + 11 * ((100vw - 320px) / 1257));
  padding-right: calc(50px + 11 * ((100vw - 320px) / 1257));
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 2px solid #ff2d2d;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.button:hover {
  color: #ff2d2d;
  background-color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(30px + 85 * ((100vw - 320px) / 1257));
  padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1257));
  padding-left: calc(20px + 144.28 * ((100vw - 320px) / 1257));
  padding-right: calc(10px + 137.84 * ((100vw - 320px) / 1257));
}

.about .text__container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 9.54654%;
}

.about__text {
  margin-bottom: 7.1599%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 450px;
}

.skills__title {
  text-transform: capitalize;
  color: #4c4c4c;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6.36436%;
}

.skills__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 3.15956%;
  margin-bottom: 5.56881%;
  min-width: 300px;
}

.skills__text {
  margin-bottom: 0;
}

.illustration {
  margin-bottom: 11.13763%;
}

.more {
  text-transform: capitalize;
  text-decoration: none;
  color: #ff2d2d;
  border: 2px solid #ff2d2d;
  border-radius: 5px;
  padding-top: calc(15px + 3 * ((100vw - 320px) / 1257));
  padding-bottom: calc(15px + 3 * ((100vw - 320px) / 1257));
  padding-left: calc(35px + 23 * ((100vw - 320px) / 1257));
  padding-right: calc(35px + 23 * ((100vw - 320px) / 1257));
  font-size: calc(14px + 4 * ((100vw - 320px) / 1257));
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.more:hover {
  color: white;
  background-color: #ff2d2d;
}

.delimiter {
  width: 79.26443%;
  display: block;
  height: 2px;
  border: none;
  color: #ececec;
  background-color: #ececec;
  margin: 0 auto;
}

.products {
  text-align: center;
  padding-top: calc(70px + 30 * ((100vw - 768px) / 809));
  padding-bottom: calc(50px + 65 * ((100vw - 768px) / 809));
  padding-left: calc(25px + 139.28 * ((100vw - 768px) / 809));
  padding-right: calc(25px + 139.28 * ((100vw - 768px) / 809));
}

.products__delimiter {
  width: 10.34208%;
  background-color: #ff3b3b;
  color: #ff3b3b;
}

.products__filter {
  list-style-type: none;
  padding-left: 0;
  margin: 7.1599% 0 5.17104%;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__item {
  width: 23.86635%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  margin-bottom: 1.602%;
  min-width: 300px;
}

.products__text {
  margin-bottom: 2.38663%;
  padding: 0 15.9109%;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item {
  text-transform: uppercase;
  letter-spacing: 0.75px;
  color: #4c4c4c;
  font-size: calc(18px + 4 * ((100vw - 768px) / 809));
  font-weight: 600;
  margin: 0 2.38663%;
}

.filter__item:first-child {
  margin-left: 0;
  color: #ff2d2d;
}

.filter__item:last-child {
  margin-right: 0;
}

.team {
  padding-left: calc(55px + 109.28 * ((100vw - 768px) / 809));
  padding-right: calc(55px + 109.28 * ((100vw - 768px) / 809));
  padding-top: calc(0px + 0 * ((100vw - 768px) / 809));
  padding-bottom: calc(50px + 65 * ((100vw - 768px) / 809));
}

.team__title {
  margin-left: -15px;
}

.team__text {
  max-width: 450px;
  margin-right: auto;
  margin-bottom: 2.38663%;
}

.team__delimiter {
  width: 10.34208%;
  background-color: #ff3b3b;
  color: #ff3b3b;
  margin-left: 0;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 5.56881%;
}

.team__member {
  height: calc(136px + 59 * ((100vw - 768px) / 809));
  width: calc(150px + 65 * ((100vw - 768px) / 809));
  margin: 0 0.79554%;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.team__member .info {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: calc(450px + 155 * ((100vw - 768px) / 809));
}

.avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__member.active {
  width: calc(200px + 120 * ((100vw - 768px) / 809));
  height: calc(288px + 172 * ((100vw - 768px) / 809));
  margin: 0 5.17104%;
}

.team__member.active .info {
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 0;
  left: 123.4375%;
}

.team__member:first-child {
  margin-left: 0;
}

.team__member:last-child {
  margin-right: 0;
}

.name {
  font-size: 30px;
  margin-bottom: 1.16667em;
}

.member__text {
  margin-bottom: 2.5em;
  color: #4c4c4c;
}

.thread__link {
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  color: #333333;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-right: 4.93421%;
}

.subscribing {
  padding-top: calc(15px + 125 * ((100vw - 320px) / 1257));
  padding-bottom: calc(15px + 125 * ((100vw - 320px) / 1257));
  padding-left: calc(10px + 228.75 * ((100vw - 320px) / 1257));
  padding-right: calc(10px + 228.75 * ((100vw - 320px) / 1257));
  text-align: center;
  position: relative;
}

.subscribing__title {
  text-transform: none;
  color: #fdfcf8;
}

.subscribing__text {
  color: #fdfcf8;
  margin-bottom: 5.45455%;
}

.subscribing__email {
  color: #6b6b6b;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1257));
  border: none;
  border-radius: 5px;
  padding-top: calc(18px + 7.6 * ((100vw - 320px) / 1257));
  padding-bottom: calc(18px + 7.6 * ((100vw - 320px) / 1257));
  padding-left: calc(20px + 15 * ((100vw - 320px) / 1257));
  padding-right: calc(20px + 15 * ((100vw - 320px) / 1257));
  outline: none;
  width: 47.36364%;
  margin-right: 1.81818%;
  letter-spacing: 1px;
}

.subscribing__button {
  padding-left: calc(31px + 26.63 * ((100vw - 320px) / 1257));
  padding-right: calc(31px + 26.63 * ((100vw - 320px) / 1257));
  padding-top: calc(15px + 13 * ((100vw - 320px) / 1257));
  padding-bottom: calc(15px + 13 * ((100vw - 320px) / 1257));
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -5;
}

.contact {
  padding: 6.97527% 0;
  padding-left: calc(50px + 114.28 * ((100vw - 768px) / 809));
  padding-right: calc(50px + 114.28 * ((100vw - 768px) / 809));
  padding-right: 0;
}

.contact__text {
  padding-right: 43.25935%;
  color: #4c4c4c;
  margin-bottom: 3.8932%;
}

.contact__title {
  margin-bottom: 3.53927%;
}

.contact__delimiter {
  width: 9.20211%;
  background-color: #ff3b3b;
  color: #ff3b3b;
  margin-left: 0;
  margin-bottom: 5.30891%;
}

.contact__name, .contact__email {
  -ms-flex-preferred-size: 45.82763%;
      flex-basis: 45.82763%;
}

.contact__button {
  width: 100%;
  /*padding-top: 28px;
        padding-bottom: 28px;*/
  padding-top: calc(16px + 12 * ((100vw - 320px) / 1257));
  padding-bottom: calc(16px + 12 * ((100vw - 320px) / 1257));
}

.contact__message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  resize: none;
  margin-top: 6.15595%;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__form {
  -ms-flex-preferred-size: 51.74415%;
      flex-basis: 51.74415%;
  min-width: 600px;
}

.contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 6.15595%;
}

.contact__form form input, .contact__form form textarea {
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  color: #444;
  border: none;
  background-color: #e5e5e5;
  padding: 3.24213% 7.52394%;
}

.contact__form form textarea {
  padding-top: 4.10397%;
  padding-bottom: 4.10397%;
}

.contact__info {
  -ms-flex-preferred-size: 40.76816%;
      flex-basis: 40.76816%;
  background-color: #2d2d2d;
  color: #d5d5d5;
  padding: 10.26389% 0 10.61782% 5.73362%;
}

.info__title {
  color: #d5d5d5;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 8.08081%;
}

.info__address {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 5.05051%;
}

.email {
  margin-bottom: 6.06061%;
  letter-spacing: 1px;
}

.phone {
  margin: 0;
  letter-spacing: 1px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2.85352% 164.28px 1.90235%;
  padding-left: calc(5px + 159.28 * ((100vw - 320px) / 1257));
  padding-right: calc(5px + 159.28 * ((100vw - 320px) / 1257));
  background-color: #313030;
  color: #afafaf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  color: #313030;
  background-color: #ebebeb;
  height: calc(25px + 8 * ((100vw - 320px) / 1257));
  width: calc(25px + 8 * ((100vw - 320px) / 1257));
  font-size: calc(12px + 4 * ((100vw - 320px) / 1257));
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  margin-left: 1.4418%;
}

footer i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer i:first-of-type {
  margin-left: auto;
}

footer i:nth-child(3) {
  font-weight: bold;
}

.license {
  margin: 0;
  letter-spacing: 0.75px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1257));
  line-height: normal;
}

@media all and (max-width: 1502px) {
  .products__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products__item {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 1248.44px) {
  header {
    padding: 0;
    width: 100%;
  }
  .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .text__container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 5%;
    padding-right: 0;
  }
  .video__container {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    min-width: 300px;
  }
}

@media all and (max-width: 1220px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__member.active {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 5%;
    margin-right: 0;
  }
  .team__member.active .info {
    position: static;
    margin-left: 5%;
    width: auto;
  }
  .team__member.active .avatar {
    width: 25%;
    min-width: 150px;
  }
}

@media all and (max-width: 1130px) {
  .contact__info {
    display: block;
    width: 100%;
    margin-top: 5%;
    -webkit-transform: translate(5.6%, 0);
            transform: translate(5.6%, 0);
  }
  .connection {
    display: block;
  }
  .contact {
    padding-left: calc(50px + 114.28 * ((100vw - 768px) / 809));
    padding-right: calc(50px + 114.28 * ((100vw - 768px) / 809));
  }
  .contact__form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-width: 0;
  }
}

@media all and (max-width: 1121px) {
  .skills, .about .text__container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-width: 0;
  }
  .about .text__container {
    margin-bottom: 15%;
    padding-right: 0;
  }
}

@media all and (max-width: 767px) {
  header {
    background-color: #313030;
    position: relative;
    top: 0;
  }
  .nav {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    position: absolute;
    top: -100%;
    left: 100%;
  }
  .burger {
    display: block;
    width: 30px;
    height: 25px;
    background: none;
    position: relative;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    margin-left: auto;
    margin-right: 5%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 50;
  }
  .burger::before, .burger::after {
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #ff2d2d;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    left: 0;
  }
  .burger span {
    width: 30px;
    height: 2px;
    position: absolute;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    background-color: #ff2d2d;
    top: 50%;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .burger::before {
    top: 0;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .burger::after {
    bottom: 0;
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .burger.active {
    width: 23px;
    height: 24px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav.visible {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    left: 0;
    top: 0;
  }
  .banner {
    padding: 3% 3.125% 0;
  }
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3% 0;
  }
  .filter__item {
    margin-bottom: 5%;
  }
  .products__text {
    padding: 0 2%;
  }
  .team__member.active {
    width: auto;
  }
  .thread__link {
    margin-bottom: 5%;
    display: inline-block;
  }
  .contact {
    padding-left: 5%;
    padding-right: 5%;
  }
  .contact__text {
    padding-right: 0;
  }
  .contact__info {
    margin-right: -5%;
  }
}

@media all and (max-width: 719px) {
  .skills__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 15%;
  }
  .skills__item:last-child {
    margin-bottom: 7%;
  }
  .skills__title {
    margin-bottom: 4.5%;
  }
  .illustration {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 650px) {
  .nav {
    padding-left: 0;
    height: auto;
  }
  .nav__list {
    display: block;
    height: auto;
  }
  .nav__item {
    padding-top: calc(30px + 2 * ((100vw - 320px) / 330));
    padding-bottom: calc(30px + 2 * ((100vw - 320px) / 330));
  }
  .nav.visible {
    z-index: 3;
    top: 100%;
  }
}

@media all and (max-width: 554px) {
  .contact__name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 6.15595%;
  }
  .contact__email {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media all and (max-width: 550px) {
  .team {
    padding-left: 5%;
    padding-right: 5%;
  }
  .team__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team__member {
    margin-bottom: 5%;
  }
  .team__member.active {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__member.active .avatar {
    width: 100%;
    margin-bottom: 5%;
  }
  .team__member.active .info {
    margin-left: 0;
  }
  .subscribing__email {
    display: block;
    width: 100%;
    margin-bottom: 5%;
  }
  .subscribing__button {
    display: block;
    width: 100%;
  }
}

@media all and (max-width: 430px) {
  .license {
    padding-right: 5%;
  }
}
