$orange-01: #ff2d2d;

$maxWidth: 1577;
@import '../../adaptiv-mixins.scss';

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    line-height: 0.73333333333;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    height: 89px;
    width: 100%;
    //padding: 0 164.28/1577*100%;
    @include adaptivHpadding (164.28, 164.28, 0, 0, 1248.44);
    top: 30/350*100%;
    z-index: 50;
}

.burger {
    display: none;
}

.nav {
    height: 100%;
    width: 100%;
    background-color: #313030;
    //padding: 0 420px 0 358px;
    @include adaptivHpadding(358, 420, 150, 0, 768);

    &__list {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        padding: 0 24px;
        text-align: center;
    }
    
    &__link {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #e0e0e0;
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        letter-spacing: 1px;
        height: 100%;
    }
}

.current {
    background-color: #ff3f40;
}

.title {
    text-transform: uppercase;
    color: #333333;
    //font-size: 42px;
    @include adaptiv-font(42, 34);
    font-weight: 700;
    margin-top: 0;
    line-height: normal;
}

.banner {
    //padding: 228px 164.28px 123px;
    @include adaptivVpadding(228, 123, 150, 50, 768);
    @include adaptivHpadding(164.28, 164.28, 50, 50, 768);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f6f2f2;

    &__title {
        color: black;
        //font-size: 60px;
        @include adaptiv-font(60, 38);
        font-weight: 900;
        margin-bottom: 30/697*100%;
    }

    &__video {
        width: 100%;
    }

    &__text {
        color: #494848;
    }

    .text__container {
        padding-right: 112/1248.44*100%;
        flex-basis: 698.44/1248.44*100%;
    }

    &__button {
        text-decoration: none;
        display: inline-block;
    }

    .button {
        text-transform: capitalize;
    }
}

.video__container {
    flex-basis: 550/(1577-164.28-164.28)*100%;
    min-width: 400px;
}

.text {
    color: black;
    //font-size: 16px;
    @include adaptiv-font(16, 12);
    line-height: 2;
    margin-top: 0;
}

.button {
    color: white;
    background-color: $orange-01;
    text-transform: uppercase;
    //font-size: 18px;
    @include adaptiv-font(18, 14);
    border-radius: 5px;
    //padding: 18px 61px;
    @include adaptivVpadding(18, 18, 16, 16, 320);
    @include adaptivHpadding(61, 61, 50, 50, 320);
    transition: all 0.3s ease-in;
    border: 2px solid $orange-01;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button:hover {
    color: $orange-01;
    background-color: white;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    //padding: 115px 147.84px 70px 164.28px;
    @include adaptivVpadding(115, 70, 30, 30, 320);
    @include adaptivHpadding(164.28, 147.84, 20, 10, 320);

    .text__container {
        flex-basis: 50%;
        padding-right: 120/1257*100%;
    }

    &__text {
        margin-bottom: 45/628.5*100%;
    }
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 50%;
    min-width: 450px;

    &__title {
        text-transform: capitalize;
        color: #4c4c4c;
        font-size: 24px;
        font-weight: 600; 
        margin-bottom: 20/314.25*100%;
    }

    &__item {
        flex-basis: 50%;
        padding-right: 20/633*100%;
        margin-bottom: 35/628.5*100%;
        min-width: 300px;
    }

    &__text {
        margin-bottom: 0;
    }
}

.illustration {
    margin-bottom: 35/314.25*100%;
}

.more {
    text-transform: capitalize;
    text-decoration: none;
    color: $orange-01;
    border: 2px solid $orange-01;
    border-radius: 5px;
    //padding: 18px 58px;
    @include adaptivVpadding(18, 18, 15, 15, 320);
    @include adaptivHpadding(58, 58, 35, 35, 320);
    //font-size: 18px;
    @include adaptiv-font(18, 14);
    font-weight: 600;
    display: inline-block;
    letter-spacing: 0.8px;
    transition: all 0.3s ease-in;
}

.more:hover {
    color: white;
    background-color: $orange-01;
}

.delimiter {
    width: 1250/1577*100%;
    display: block;
    height: 2px;
    border: none;
    color: #ececec;
    background-color: #ececec;
    margin: 0 auto;
}

.products {
    text-align: center;
    //padding: 100px 164.28px 115px;
    @include adaptivVpadding(100, 115, 70, 50, 768);
    @include adaptivHpadding(164.28, 164.28, 25, 25, 768);

    &__delimiter {
        width: 130/1257*100%;
        background-color: #ff3b3b;
        color: #ff3b3b;
    }

    &__filter {
        list-style-type: none;
        padding-left: 0;
        margin: 90/1257*100% 0 65/1257*100%;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 300/1257*100%;
        object-fit: cover;
        height: 300px;
        margin-bottom: 20/1248.44*100%;
        min-width: 300px;
    }

    &__text {
        margin-bottom: 30/1257*100%;
        padding: 0 200/1257*100%;
    }
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__item {
        text-transform: uppercase;
        letter-spacing: 0.75px;
        color: #4c4c4c;
        //font-size: 22px;
        font-size: calc(18px + 4 * ((100vw - 768px) / 809));
        font-weight: 600;
        margin: 0 30/1257*100%;
    }

    &__item:first-child {
        margin-left: 0;
        color: $orange-01;
    }

    &__item:last-child {
        margin-right: 0;
    }
}

.team {
    //padding: 0 164.28px 115px;
    @include adaptivHpadding(164.28, 164.28, 55, 55, 768);
    @include adaptivVpadding(0, 115, 0, 50, 768);

    &__title {
        margin-left: -15px;
    }

    &__text {
        max-width: 450px;
        margin-right: auto;
        margin-bottom: 30/1257*100%;
    }

    &__delimiter {
        width: 130/1257*100%;
        background-color: #ff3b3b;
        color: #ff3b3b;
        margin-left: 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 70/1257*100%;
    }
}

.team__member {
    //width: 215px;
    //height: 195px;
    @include adaptiv-height(195, 136, 768);
    @include adaptiv-width(215, 150, 768);
    margin: 0 10/1257*100%;
    position: relative;
    transition: all 0.3s ease-in;
    flex-shrink: 0;

    .info {
        transform-origin: bottom left;
        transform: scale(0);
        position: absolute;
        left: 0;
        top: 100%;
        transition: all 0.3s ease-in;
        //width: 200%;
        @include adaptiv-width(605, 450, 768)
    }
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__member.active {
    //height: 460px;
    //width: 320px;
    @include adaptiv-width(320, 200, 768);
    @include adaptiv-height(460, 288, 768);
    margin: 0 65/1257*100%;

    .info {
        transform: scale(1);
        top: 0;
        left: 100% + 75/320*100%;
    }
}

.team__member:first-child {
    margin-left: 0;
}

.team__member:last-child {
    margin-right: 0;
}

.name {
    font-size: 30px;
    margin-bottom: 35/30*1em;
}

.member__text {
    margin-bottom: 40/16*1em;
    color: #4c4c4c;
}

.thread__link {
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    color: #333333;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-right: 30/608*100%;
}

.subscribing {
    //padding: 140px 238.75px;
    @include adaptivVpadding(140, 140, 15, 15, 320);
    @include adaptivHpadding(238.75, 238.75, 10, 10, 320);
    text-align: center;
    position: relative;

    &__title {
        text-transform: none;
        color: #fdfcf8;
    }

    &__text {
        color: #fdfcf8;
        margin-bottom: 60/1100*100%;
    }

    &__email {
        color: #6b6b6b;
        //font-size: 16px;
        @include adaptiv-font(16, 14);
        border: none;
        border-radius: 5px;
        //padding: 25.6px 35px;
        @include adaptivVpadding(25.6, 25.6, 18, 18, 320);
        @include adaptivHpadding(35, 35, 20, 20, 320);
        outline: none;
        width: 521/1100*100%;
        margin-right: 20/1100*100%;
        letter-spacing: 1px;
    }

    &__button {
        //padding: 28px 57.63px;
        @include adaptivHpadding(57.63, 57.63, 31, 31, 320);
        @include adaptivVpadding(28, 28, 15, 15, 320);
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}

.contact {
    padding: 110/1577*100% 0;
    @include adaptivHpadding(164.28, 164.28, 50, 50, 768);
    padding-right: 0;

    &__text {
        padding-right: 682.2/1577*100%;
        color: #4c4c4c;
        margin-bottom: 55/(1577-164.28)*100%;
    }

    &__title {
        margin-bottom: 50/(1577-164.28)*100%;
    }

    &__delimiter {
        width: 130/(1577-164.28)*100%;
        background-color: #ff3b3b;
        color: #ff3b3b;
        margin-left: 0;
        margin-bottom: 75/(1577-164.28)*100%;
    }

    &__name, &__email {
        flex-basis: 335/731*100%;
    }

    &__button {
        width: 100%;
        /*padding-top: 28px;
        padding-bottom: 28px;*/
        @include adaptivVpadding(28, 28, 16, 16, 320);
    }

    &__message {
        flex-basis: 100%;
        resize: none;
        margin-top: 45/731*100%;
    }
}

.connection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact__form {
    flex-basis: 731/(1577-164.28)*100%;
    min-width: 600px;

    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 45/731*100%;

        input, textarea {
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            color: #444;
            border: none;
            background-color: #e5e5e5;
            padding: 23.7/731*100% 55/731*100%;
        }

        textarea {
            padding-top: 30/731*100%;
            padding-bottom: 30/731*100%;
        }
    }
}

.contact__info {
    flex-basis: 575.94/(1577-164.28)*100%;
    background-color: #2d2d2d;
    color: #d5d5d5;
    padding: 145/(1577-164.28)*100% 0 150/(1577-164.28)*100% 81/(1577-164.28)*100%;
}

.info {
    &__title {
        color: #d5d5d5;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 40/495*100%;
    }

    &__address {
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 25/495*100%;
    }
}

.email {
    margin-bottom: 30/495*100%;
    letter-spacing: 1px;
}

.phone {
    margin: 0;
    letter-spacing: 1px;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 45/1577*100% 164.28px 30/1577*100%;
    @include adaptivHpadding(164.28, 164.28, 5, 5, 320);
    background-color: #313030;
    color: #afafaf;
    align-items: center;

    i {
        color: #313030;
        background-color: #ebebeb;
        //height: 33px;
        //width: 33px;
        @include adaptiv-height(33, 25, 320);
        @include adaptiv-width(33, 25, 320);
        @include adaptiv-font(16, 12);
        flex-shrink: 0;
        border-radius: 50%;
        position: relative;
        margin-left: 18/(1577-164.28-164.28)*100%;
    }

    i:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    i:first-of-type {
        margin-left: auto;
    }

    i:nth-child(3) {
        font-weight: bold;
    }
}

.license {
    margin: 0;
    letter-spacing: 0.75px;
    @include adaptiv-font(16, 12);
    line-height: normal;
}

@media all and (max-width: 1502px) {
    .products {
        &__list {
            justify-content: space-around;
        }

        &__item {
            margin-bottom: 5%;
        }
    }
}

@media all and (max-width: 1248.44px) {
    header {
        padding: 0;
        width: 100%;
    }

    .banner {
        flex-wrap: wrap;
        justify-content: center;

        .text__container {
            flex-basis: 100%;
            margin-bottom: 5%;
            padding-right: 0;
        }
    }

    .video__container {
        flex-basis: 75%;
        min-width: 300px;
    }
}

@media all and (max-width: 1220px) {
    .team {
        &__list {
            flex-wrap: wrap;
        }

        &__member.active {
            flex-basis: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 5%;
            margin-right: 0;

            .info {
               position: static;
               margin-left: 5%;
               width: auto
            }

            .avatar {
                width: 25%;
                min-width: 150px;
            }
        }
    }
}

@media all and (max-width: 1130px) {
    .contact__info {
        display: block;
        width: 100%;
        margin-top: 5%;
        transform: translate(5.6%, 0);
    }

    .connection {
        display: block;
    }

    .contact {
        @include adaptivHpadding(164.28, 164.28, 50, 50, 768);
    }

    .contact__form {
        flex-basis: 100%;
        min-width: 0;
    }
}

@media all and (max-width: 1121px) {
    .skills, .about .text__container {
        flex-basis: 100%;
        min-width: 0;
    }

    .about {
        .text__container {
            margin-bottom: 15%;
            padding-right: 0;
        }
    }
}

@media all and (max-width: 767px) {
    header {
        background-color: #313030;
        position: relative;
        top: 0;
    }

    .nav {
        transform-origin: top right;
        transform: rotate(180deg) scale(0);
        transition: all 0.5s ease-in;
        position: absolute;
        top: -100%;
        left: 100%;
    }

    .burger {
        display: block;
        width: 30px;
        height: 25px;
        background: none;
        position: relative;
        transition: all 0.5s ease-in;
        margin-left: auto;
        margin-right: 5%;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 50;
    }

    .burger::before, .burger::after {
        content: '';
        width: 30px;
        height: 2px;
        position: absolute;
        background-color: $orange-01;
        transition: all 0.5s ease-in;
        left: 0;
    }

    .burger span {
        width: 30px;
        height: 2px;
        position: absolute;
        transform-origin: top left;
        background-color: $orange-01;
        top: 50%;
        transition: all 0.5s ease-in;
        transform: translate(0, -50%);
    }

    .burger::before {
        top: 0;
        transform-origin: bottom left;
    }

    .burger::after {
        bottom: 0;
        transform-origin: top left;
    }

    .burger.active {
        width: 23px;
        height: 24px;

        span {
            transform: scale(0);
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .nav.visible {
        transform: rotate(0deg) scale(1);
        left: 0;
        top: 0;
    }

    .banner {
        padding: 3% 10/320*100% 0;
    }

    .filter {
        flex-wrap: wrap;
        padding: 3% 0;

        &__item {
            margin-bottom: 5%;
        }
    }

    .products {
        &__text {
            padding: 0 2%;
        }
    }

    .team__member.active {
        width: auto;
    }

    .thread__link {
        margin-bottom: 5%;
        display: inline-block;
    }

    .contact {
        padding-left: 5%;
        padding-right: 5%;

        &__text {
            padding-right: 0;
        }

        &__info {
            margin-right: -5%;
        }
    }
}

@media all and (max-width: 719px) {
    .skills {
        &__item {
            flex-basis: 100%;
            margin-bottom: 15%;
        }

        &__item:last-child {
            margin-bottom: 7%;
        }

        &__title {
            margin-bottom: 4.5%;
        }
    }

    .illustration {
        margin-bottom: 5%;
    }
}

@media all and (max-width: 650px) {
    .nav {
        padding-left: 0;
        height: auto;

        &__list {
            display: block;
            height: auto;
        }

        &__item {
            padding-top: calc(30px + 2 * ((100vw - 320px) / 330));
            padding-bottom: calc(30px + 2 * ((100vw - 320px) / 330));
        }
    }

    .nav.visible {
        z-index: 3;
        top: 100%;
    }
}

@media all and (max-width: 554px) {
    .contact {
        &__name {
            flex-basis: 100%;
            margin-bottom: 45/731*100%;
        }

        &__email {
            flex-basis: 100%;
        }
    }
}

@media all and (max-width: 550px) {
    .team {
        padding-left: 5%;
        padding-right: 5%;

        &__list {
            justify-content: space-around;
        }

        &__member {
            margin-bottom: 5%;
        }

        &__member.active {
            height: auto;
            flex-wrap: wrap;

            .avatar {
                width: 100%;
                margin-bottom: 5%;
            }

            .info {
                margin-left: 0;
            }
        }
    }

    .subscribing {
        &__email {
            display: block;
            width: 100%;
            margin-bottom: 5%;
        }

        &__button {
            display: block;
            width: 100%;
        }
    }
}

@media all and (max-width: 430px) {
    .license {
        padding-right: 5%;
    }
}